<!DOCTYPE html>
    <head>
        <title></title>
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div>
            <form action="auth/forgotpassword" method="POST">
                <input type="email" id="email" name="email" placeholder="Email" required>
                <input type="submit" id="submit" name="submit" value="Reset Password">
            </form>
        </div>
        <script src="../static/js/bootstrap.bundle.min.js"></script>
    </body>
</html>